.menu{
    margin: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    position: relative;
}

.menu-itens{
    width: 20%;
}

.menu-opcoes{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.config{
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    width: 45%;
    height: 100%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.config .btn-secondary, .config .btn-warning, .config .btn-primary{
    width: 90%;
    text-align: center;
}

.config h2{
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}

.renderizacao{
    width: 80%;
    height: 600px;
    padding: 10px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.renderizacao canvas{
    width: 50%;
    margin: 0px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.input-text{
    text-align: start !important;
}

.input-num{
    padding: 3px 5px;
    width: 100px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.comandos{
    width: 90%;
    height: 100px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 18px;
}

.saida{
    transition: 1s;
    position: fixed;
    width: 50%;
    height: 50%;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px black;
    background-color: white;
}

.saida #saida{
    position: relative;
    width: 100%;
    height: 80%;
    padding: 0px;
    border-radius: 10px;
    margin: 0 auto;
    overflow: auto;
    font-size: 18px;
    color: rgb(30, 30, 30);
    background-color: rgb(240, 240, 240);
}

.bi-copy, .bi-x-octagon{
    font-size: 30px;
    position: absolute;
    color: black;
    top: 3px;
    right: 10px;
    cursor: pointer;
}

.bi-copy:hover, .bi-x-octagon:hover{
    color: red;
}